/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
@mixin sprite-pic1 {
    background-position: -119px 0px;
}

@mixin sprite-pic2 {
    background-position: 0px 0px;
}

@mixin sprite-pic3 {
    background-position: -101px -102px;
}

@mixin sprite-pic4 {
    background-position: -220px 0px;
}

@mixin sprite-pic5 {
    background-position: 0px -102px;
}

@mixin sprite-pic6 {
    background-position: -220px -90px;
}

.sprite {
    background-image: url('../img/sprite.png');
    background-repeat: no-repeat;
    background-size: 303px 183px;
}


